#Q1

SELECT REPLACE(FIRST_NAME,'a','A') AS "REPLACE NAME" FROM Worker;

#Q2

SELECT *
FROM worker
ORDER BY first_name ASC, department DESC;

#Q3

SELECT FIRST_NAME, SALARY from Worker WHERE SALARY=(SELECT max(SALARY) from Worker);