In [1]:
#Q1

 
total = 0
 
list1 = [11, 5, 17, 18, 23]

for ele in range(0, len(list1)):
    total = total + list1[ele]
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [2]:
#Q2

def multiplyList(myList) :
     
    result = 1
    for x in myList:
         result = result * x
    return result
     
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [3]:
#Q3

list1 = [10, 20, 4, 45, 99]

list1.sort()
 
print("Smallest element is:", list1[0])

Smallest element is: 4

In [4]:
#Q4

list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Largest element is:", list1[-1])

Largest element is: 99

In [5]:
#Q5

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 
list2 = list(set(list1))
 
list2.sort()
 
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [6]:
#Q6

l = [1000,298,3579,100,200,-45,900]
n = 4
 
l.sort()
print(l[-n:])

[298, 900, 1000, 3579]

In [7]:
#Q7

list1 = [10, 21, 4, 45, 66, 93]

for num in list1:
 
    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [8]:
#Q8

list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
     
    if num % 2 != 0:
       print(num, end = " ")

21 45 93

In [9]:
#Q9

test_list = [5, 6, [], 3, [], [], 9]
 
print("The original list is : " + str(test_list))

res = [ele for ele in test_list if ele != []]

print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [10]:
#Q10

def Cloning(li1):
    li_copy = li1[:]
    return li_copy
 
 
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [11]:
#Q11

def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
 
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,countX(lst, x)))

8 has occurred 5 times