#Q1

SELECT *
FROM worker
WHERE year(joining_date) = 2014 and month(joining_date) = 2;

#Q2

SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*) FROM Title
GROUP BY WORKER_TITLE, AFFECTED_FROM
HAVING COUNT(*) > 1;

#Q3

SQL delete duplicate Rows using Group By and having clause