#Q1

SELECT *
FROM Worker
WHERE MOD (WORKER_ID, 2) <> 0;

#Q2

CREATE TABLE new_table SELECT * FROM original_table;