#Q1

SELECT SUBSTRING(FIRST_NAME,1,3) 
     FROM Worker;

#Q2

Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

#Q3

SELECT DeptID, MAX(Salary) FROM EmpDetails GROUP BY DeptID